@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}
/*.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
}*/

.header {
    background-color: aquamarine;
}

.wrapper {

}

.sidebar {
    display: inline-block;
 /*   background-color: #425b91;*/
    background: linear-gradient(to right, #425b91, #3487b8);


    float: left;
    width: 250px;
    padding: 10px;
    color: white;
}

.sidebar span {
    text-align: center;
}

.sidebartext {
    text-align: justify;
}
.sidebar p{
    text-indent: 25px;
}
.avatar{
    border-radius: 90px;
    display: block;
    margin:10px auto;
    border: 3px solid white;
}

ul {

}

.content {
    display: inline-block;
    background-color: coral;
    padding: 10px;
}

.data {
    background-color: gold;
}

.posts{
    background-color: mediumpurple;
}